@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

p,
span,
.chip,
body {
  font-family: 'Prompt';
}

/* a {
  text-decoration: none;
  color: white;
} */

a:hover {
  text-decoration: underline;
}

.e-schedule .e-vertical-view .e-header-cells .e-header-day,
.MuiTableCell-root,
.chip {
  font-family: 'Prompt';
}

div.e-date-time,
div.e-header-date.e-navigate,
div.e-schedule-toolbar-container {
  display: none !important;
}
div.e-appointment {
  font-family: "Prompt";
  padding: 5px !important;
  border-radius: 10px !important;
}

div.e-header-day,
div.e-subject {
  font-weight: 700 !important;
}

.e-schedule .e-vertical-view .e-time-cells-wrap table td, .e-schedule .e-vertical-view .e-work-cells {
  height: 3.25vh !important;
}

@media only screen and (max-width: 600px) {
  .e-schedule .e-vertical-view .e-time-cells-wrap table td, .e-schedule .e-vertical-view .e-work-cells {
    height: 40px !important;
  }

  .e-schedule .e-vertical-view .e-day-wrapper .e-appointment .e-time, .e-schedule .e-vertical-view .e-day-wrapper .e-appointment .e-location {
    display: none;
  }
}