@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

p,
span,
.chip,
body {
  font-family: 'Prompt';
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.chip {
  font-family: 'Prompt';
}

.MuiTableCell-root {
  font-family: "Prompt"
}

div.e-header-date.e-navigate {
  display: none !important;
}

div.e-schedule-toolbar-container{
  display: none !important;
}

div.e-header-day {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
}