@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

p,
span,
.chip,
body {
  font-family: 'Prompt';
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.chip {
  font-family: 'Prompt';
}